* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
}

.clickable {
  background-color: white;
  color: black;
  border: 2px solid #000000;
  border-radius: 12px;
  padding: 10px 14px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: 0.2s;
}

.clickable:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.29);
}

.upperLeftContainer {
  /* padding: 10px 14px; */
  position: absolute;
  display: block;
  z-index: 99;
  top: 10px;
  left: 14px;
}

.centeredBoi {
  text-align: center;
  height: 60vh;
  overflow: auto;
}

.popup-content {
  border-radius: 12px;
  width: 75% !important;
  /* again, the !imporant is needed here because the popup import overrides it when it needs to be 75% (the import has it at 50%) */
}

.betterText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.close:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.29);
}

input[type="file"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

input[type="file"]:hover {
  cursor: pointer;
}

.fileUpload {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(243, 243, 243);
  border: 3px dotted #bebebe;
  border-radius: 10px;
}

.fileUpload:hover {
  cursor: pointer;
}

.fileLabel {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 400px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.09);
}

.fileLabel:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.15), 0 6px 20px 0 rgba(0,0,0,0.11);
}

.loginArea {
  justify-content: center;
  padding: 20px;
  width: 100%;
  clear: both;
}

.inputDesign {
  padding: 5px;
  width: 50%;
  padding: 6px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.09);
}

.inputDesign:focus {
  border: 3px solid #555;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.15), 0 6px 20px 0 rgba(0,0,0,0.11);
}

.bottomPage {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* float 4 columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 10 10px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* height: 225px; */
  display: flex;
  justify-content: center;
}

.searchwrapper {
  justify-content: center;
  padding-top: 20px;
}

.searchbar {
  padding: 5px;
  padding: 6px 10px;
  width: 50%;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.09);
}

.searchbar:focus {
  border: 3px solid #555;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.15), 0 6px 20px 0 rgba(0,0,0,0.11);
}

.something {
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.databaseUploadArea {
  width: 100%;
  clear: both;
  padding: 20px;
}

/* responsive columns, so smaller screens can squish them to smaller sizes */
@media screen and (max-width: 1900px) {
  .column {
    width: 25%;
  }
}

@media screen and (max-width: 1400px) {
  .column {
    width: 33%;
  }
}

/* the width where smaller screens start having problems with other elements*/
@media screen and (max-width: 900px) {
  .column {
      width: 50%;
      display: flex;
      margin-bottom: 20px;
  }

  .row {
      display: initial !important;
  }

  .card {
    justify-content: center;
  }

  .something {
    padding-left: 0px;
  }

  .fileLabel {
    width: 40vw;
  }
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .leva-c-kWgxhW-bCBHqk-fill-false {
    /* I need the !important here because there is no other way to override the leva class since my css file is loaded first */
    width: 70vw !important;
  }
}

#cards {
  justify-content: center;
}

.card {
  /* add shadows */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 16px;
  text-align: center;
  background-color: #929292;
  transition: 0.3s;
  border-radius: 5px; /* rounded corners */
  /* height: 200px; */
  width: 150px;
}

/* make deeper shadow on mouseover */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.29);
  background-color: #a3a3a3ab;
  cursor: pointer;
}

.container {
  padding: 2px 16px;
  cursor: pointer;
}